process {
    withName: run_mmseqs {
        cpus = 4
        memory = '8 GB'
    }
    conda = 'project_gp'
}

params {
    max_cpus = 8

    taxonomy = "data/short_taxonomy.csv"
    scripts  = "scripts"
    results  = "results"

    // bootstrap / trees
    bootstrap        = false
    bootstrap_reps   = 1000
    min_support      = 70
    max_bad_frac     = 0.3

    // mmseqs2
    min_seq_id_mmseqs = 0.3
    c_mmseqs          = 0.8
    cov_mode_mmseqs   = 1

    // orthology
    max_clusters   = 10000
    max_missing    = 1
    n_genomes      = 4   // edytuj potem
    consensus_mode = "strict"

    // astral / fasta
    astral_jar        = "tools/astral.jar"
    pick_representative = "longest"
    min_strict_clusters_for_consensus = 30
    
    params.run_id = "default"
}
